/**
* @Author: Sylvain Rojas <Rojas>
* @Date:   16-02-2017
* @Project: Configurator
* @Filename: style.css
* @Last modified by:   rojas
* @Last modified time: 19-02-2017
* @Copyright: S.Rojas
*/



body{
    background: url(../img/bg/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}
footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height:auto;
}

footer.page-footer{
    background-color:#E5E5E5;
}

.grey-text.text-lighten-3, .grey-text.text-lighten-4{
    color:#999 !important;
}
.white-text{
    margin:30px;
    color:#6BAD4A !important;
}

#logo_footer{
    float:left;
}
img{
  margin:0 auto;
}

/*================== MARKERS ====================*/
.btn-floating.btn-large i{
    line-height: 40px;
}
.btn-floating.btn-large{
    width: 40px;
    height: 40px;
    left: 250px;
    top: 100px;
}

.markers{
    display:none;
}
.fixed-action-btn{
    position:absolute;
    left:0px;
    top:10px;
    width: 10px;
    height: 10px;

}
.btn-floating{
    float:left;
    width: 100px;
    height: 100px;
    background-color:green;
}

/*================== MENUS ====================*/
.menu{
  width:147px;
  position: absolute;
  top: 151px;
  left: 68px;
}
#fabric{
    visibility: hidden;
}
#color{
    visibility: hidden;
}

/*================== MENU CARDS ====================*/
.card .card-image{
    position: relative;
    border: 1px solid #6BAD4A;
    border-radius: 5px;
    text-align: center;
}

/*================== BUTTONS ====================*/

.red{
    background-color: #6BAD4A !important;
}
.btn{
    background-color: #6BAD4A;
    top: 4%;
    right: 3%;
    position: fixed;
}

/*================== DISPLAY CENTER ====================*/

#display{
    position: fixed;
    bottom: 30%;
    left: 30%;
}
