/**
* @Author: Sylvain Rojas <Rojas>
* @Date:   16-02-2017
* @Project: Configurator
* @Filename: style.css
* @Last modified by:   rojas
* @Last modified time: 23-02-2017
* @Copyright: S.Rojas
*/

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

body{
    background: url(../img/bg/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
h1{
  font-size:20px;
}
#shelter{
  margin:0 auto;
  height:auto ;
  left:3%;
}
footer{
    bottom:0;
    width: 100%;
    height:auto;
    position:fixed;
}

footer.page-footer{
    background-color:#E5E5E5;
}
.container{
    margin-top: 14px;
    background-color: #E5E5E5
    background-color: ;
}
.grey-text.text-lighten-3, .grey-text.text-lighten-4{
    color:#999 !important;
}
.white-text{
    margin:30px;
    color:#6BAD4A !important;
}

#logo_footer{
    float:left;
}
#reset{
    background-color: #6BAD4A;
    top: 1%;
    right: 3%;
}
#save-btn{
    background-color: #6BAD4A;
    top: 70%;
    right: 3%;
    position: fixed;
    display:none;
}

table{
  width: 100%;
  display: table;
}

/*================== MARKERS ====================*/
.btn-floating.btn-large i{
    line-height: 40px;
}
.btn-floating.btn-large{
  width: 40px;
  height: 40px;
}
.marker1.btn-floating.btn-large{
  top: 183px;
  right: 35px;

}
.marker2.btn-floating.btn-large{
  top: 183px;
  right: 35px;
    visibility: hidden;
}
.marker3.btn-floating.btn-large{
    top: 15px;
    left: 132px;
    visibility: hidden;
}
.marker4.btn-floating.btn-large{
    top: 15px;
    left: 132px;
    visibility: hidden;
}
.marker5.btn-floating.btn-large{
    top: 183px;
    right: 35px;
    visibility: hidden;
}
.marker6.btn-floating.btn-large{
    top: 221px;
    right: 35px;
    visibility: hidden;
}
.marker7.btn-floating.btn-large{
    /*left:900px;
    top: 500px;*/
    visibility: hidden;
}

.choice1{
    position: absolute;
    width: 147px;
    left: 5%;
    top: 54%;
    }
.choice2{
  position: absolute;
  width: 147px;
  left: 5%;
  top: 313px;
}
.choice3{
  position: absolute;
  width: 147px;
  left: 200px;
  top: 150px;
}
#card3{
    left: 156px;
    bottom: 162px;
}
.choice4{
    position:absolute;
    width: 147px;
    left: 800px;
    top: 150px;
}
#card4{
    left: 156px;
    bottom: 162px;
}
.choice5{
    position: absolute;
    width: 147px;
    right: 250px;
    top: 400px;
}
.choice6{
    position: absolute;
    width: 147px;
    right: 250px;
    top: 768px;
}
.choice7{
  position:absolute;
    width:147px;
    left: 600px;
}


/*================== MENUS ====================*/
/*#Fondations{
  width:147px
}
#Structure{
  width: 147px;
}
#Isolation{
    width: 147px;
}
#Facade{
    width: 147px;
}
#Couleur{
    width: 147px;
}
#Porte{
    width: 147px;
}
#Toit{
    width: 147px;
}*/

/*================== BUTTONS ====================*/

.red{
    background-color: #6BAD4A !important;
}
.btn{
    background-color: #6BAD4A;
    top: 4%;
    right: 3%;
    position: fixed;
}

/*================== DISPLAY CENTER ====================*/

#display{
    position: fixed;
    top: 31%;
    left: 18%;
}
#display img{
    position: absolute;
    width: 1000px;
    top: 61%;
    left: 25%;
}

/*================== DISPLAY SELECTION ====================*/
#selectionUser{
    float:right;
    margin-top: 50px;
    margin-right: 58px;
    width:400px;
}
